@import url('https://fonts.googleapis.com/css?family=Merienda');

*{
    margin: 0;
}
header{
    background-color: lightslategray;
    height: 15vh;
}

nav ul li{
    margin-top: 2%;
    list-style: none;
    padding: 1%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 25%;
    font-family: 'Merienda', cursive;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    position: absolute;
    width: 20%;
    padding: 1%;
}
footer{
    background-color: black;
    height: 4vh;
    text-align: center;
    font-weight: 100;
    color: blanchedalmond;
    padding: 10px;
}