h3{
    color: rgb(53, 22, 126);
    text-align: center;
}
h4{
    color: rgb(2, 84, 116);
    text-align: center;
}
.imagens{
    width: 50%;
    border: rgb(160, 44, 44) ridge 5px;
    margin-left: 25%;
    margin-top: 1%;
}
main{
    background-color: whitesmoke;
}