@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


h3{
    color: rgb(53, 22, 126);
    text-align: center;
    font-family: 'Handlee', cursive;
    margin-top: 1%;
}
h4{
    text-align: center;
}

.imagens{
    width: 560px; 
    height: 315px;
}

.pagInicial{
    text-align: center;
    padding: 15%;
    background-image: url("../imagens/logobranco.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Handlee', cursive;
    background-color: rgb(196, 190, 190);
}